# Application Environment (development, staging, production)
ENVIRONMENT=development

# PostgreSQL Connection String
DB_SOURCE=postgres://postgres:secretpassword@localhost:5432/ledger_db?sslmode=disable

# HTTP Server Address
HTTP_SERVER_ADDRESS=:8080

# HTTP Server Timeouts
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=10s

# Automatic Migrations on Startup (true/false)
RUN_MIGRATION_ON_BOOT=true
